@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ! UTILITIES */

* {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

ul {
  list-style-type: none;
}

li {
  padding-right: 60px;
  display: inline-block;
}

a {
  text-decoration: none;
}

.details {
  font-size: 16px;
  font-weight: 400;
  color: #3E3E3E;
}

.mark {
  color: #FABE4C;
}

.buy-now {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 20px 40px;
  background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
  border-radius: 10px;
}

.buy-now:hover {
  background: linear-gradient(180deg,  #85A019 0%, #A4BC46 100%);

}

.buy-now::before {
  display: inline-block;
  content: "\f23d";
  font-family: "FontAwesome";
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-right: 10px;
}

/* ! NAVBAR */

header {
  background-color: #FFFBF0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}

.logo img {
  width: 300px;
}

.nav-item {
  font-size: 16px;
  font-weight: 500;
}

.nav-link {
  color: #3C3C3C;
}

/* ! HERO SECTION */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-info {
  margin-right: 2px;
}

.hero-title {
  font-size: 80px;
  font-weight: 700;
  color: #363958;
  margin-bottom: 20px;
}

.hero-images {
  width: 100%;
}

/* ! WOMAN JACKET SECTION */

.title {
  font-size: 48px;
  font-weight: 700;
  color: #363958;
  margin-bottom: 30px;
}

.jackets {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  padding: 10px;
}

.card-img {
  background-color: #F1F1F1;
  border-radius: 20px;
  padding: 20px;
}

.card-img img {
  width: 100%;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  color: #363958;
  margin: 20px 0;
}

.pricing {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.price {
  font-size: 30px;
  color: #FABE4C;
  margin: auto 0;
}


/* ! INFORMATION SECTION */

.information {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  align-items: center;
}

.info {
  margin: auto 0;
  width: 30%;
}

.info-card {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.information-img {
  width: 50%;
  text-align: center;
}
.information-img img {
  width: 600px;
}

/* ! MEDIA QUERIES */

@media only screen and (max-width: 480px) {

  /* ! NAVBAR */

  .logo {
    margin: 0 auto;
  }

  .logo img {
    width: 200px;
  }

  .nav-items {
    display: none;
  }

  /* ! HERO SECTION */

  .hero {
    flex-direction: column;
  }

  .hero-info {
    margin: 50px 0;
    text-align: center;
  }

  .hero-title {
    font-size: 35px;
  }

  .hero-btn {
    text-align: center;
  }

  /* ! WOMANS JACKET */

  .jacket-section {
    margin-top: 100px;
  }

  .jackets {
    flex-direction: column;
  }
  
  .card {
    width: 100%;
  }

  /* ! INFORMATION SECTION */

  .information {
    flex-direction: column;
  }

  .info {
    width: 100%;
  }

  .information-img {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  .information-img img {
    width: 100%;
  }
}




@media only screen and (max-width: 768px) {
  
  /* ! NAVBAR */

  .logo {
    margin: 0 auto;
  }

  .nav-items {
    display: none;
  }

  /* ! HERO SECTION */

  /* .hero {
    flex-direction: column;
  } */

  .hero-info {
    margin: 50px 0;
  }

  .hero-title {
    font-size: 35px;
  }

  .hero-btn {
    text-align: center;
  }

  /* ! WOMANS JACKET */

  .title {
    font-size: 25px;
  }

  .card {
    text-align: center;
  }

  .pricing {
    flex-direction: column;
  }

  .price {
    font-size: 25px;
  }

  
  /* ! INFORMATION SECTION */

  .information {
    flex-direction: column;
  }

  .info {
    width: 100%;
  }

  .information-img {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  .information-img img {
    width: 100%;
  }
}


