@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ! UTILITIES */

* {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

ul {
  list-style-type: none;
}

li {
  padding-right: 60px;
  display: inline-block;
}

a {
  text-decoration: none;
}

.details {
  font-size: 16px;
  font-weight: 400;
  color: #3E3E3E;
}

.mark {
  color: #FABE4C;
}

.buy-now {
  display: inline-block;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 20px 40px;
  background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
  border-radius: 10px;
}

.buy-now:hover {
  background: linear-gradient(180deg,  #85A019 0%, #A4BC46 100%);

}

.buy-now::before {
  display: inline-block;
  content: "\f23d";
  font-family: "FontAwesome";
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-right: 10px;
}

/* ! NAVBAR */

header {
  background-color: #FFFBF0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}

.logo img {
  width: 300px;
}

.nav-item {
  font-size: 16px;
  font-weight: 500;
}

.nav-link {
  color: #3C3C3C;
}

/* ! HERO SECTION */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-info {
  margin-right: 2px;
}

.hero-title {
  font-size: 80px;
  font-weight: 700;
  color: #363958;
  margin-bottom: 20px;
}

.hero-images {
  width: 100%;
}